@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

body {
    background-color: #F9F5F1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 0%;
    padding-left: 18%;
    padding-right: 18%;
}

.border-div {
    background-color: #F9F5F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: auto;
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
	color: #563D25;
    font-weight: 200;
    font-size: 5.5rem;
    line-height: 60px;
    margin-bottom: 15px;
}

p {
    font-family: 'Didact Gothic', sans-serif;
	color: #563D25;
    font-weight: 100;
    font-size: 1.2rem;
    font-style: bold;
    margin: 5px;
}

.p-padding {
    padding-bottom: 15px;
}

.p-body {
    padding-top: 5px;
}

.big-name {
    display: flex;
}

p.counter-text {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #563D25;
    margin-bottom: 1px;
}

a.counter {
    all: initial;
    padding-top: 10px;
    margin-left: 0px;
    padding-bottom: 60px;
}

div.footer {
    margin-top: 10px;
}

a {
    color: #B68354;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.slp {
    background-color: #F9F5F1;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}
